body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.dnerf {
  font-variant: small-caps;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}
/* 调整图片大小并居中 */
.teaser .hero-body img {
  width: 160%; /* 增加图片宽度占比 */
  height: auto; /* 保持图片比例 */
  display: block; /* 确保图片是块级元素 */
  margin-left: auto; /* 水平居中 */
  margin-right: auto; /* 水平居中 */
}
.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  position: relative;
  max-width: 80%;  /* 调整宽度，避免占满整个屏幕 */
  margin: 0 auto;  /* 确保居中 */
  overflow: hidden;  /* 防止溢出 */
  white-space: nowrap;  /* 防止图片换行 */
}

.results-carousel .item {
  display: inline-block;  /* 让图片在同一行滚动 */
  text-align: center;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.results-carousel img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

.slider-pagination .slider-page {
  background: #000000;
}

.eql-cntrb { 
  font-size: smaller;
}


.centered-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.centered-image2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
